td {
  padding-right: 20px;
  font-size: 14px;
}
td > a {
  color: #000;
}
td > a:link {
  text-decoration: none !important;
}
td > a:hover {
  color: #ff6600;
}

.main {
  text-align: left;
}
table {
  width: 100%;
}
tr {
  border-bottom: 1px solid #c7c7c7;
}

.btn {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.navbar2 > span {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.logo {
  background: #ff6600;
  color: #fff;
  border: 2px solid #fff;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
