td {
  padding-right: 20px;
  font-size: 14px;
}
td > a {
  color: #000;
}
td > a:link {
  text-decoration: none !important;
}
td > a:hover {
  color: #ff6600;
}

.main {
  text-align: left;
}
table {
  width: 100%;
}

.btn {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn:hover {
  background: #fff !important;
  color: rgb(92, 92, 92) !important;
}

.navbar2 > span :hover {
  box-shadow: 0px 2px 20px -7px rgba(0, 0, 0, 0.75);
}
.logo {
  background: #ff6600;
  color: #fff;
  border: 2px solid #fff;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.changableColor {
  background: #ff6600;
  color: #ffff;
}

.footer {
  margin-top: 35px;
  background: #c7c7c7;
  border-top: 2px solid #ff6600;
  color: #000;
  padding: 20px;
  padding-bottom: 0;
}
ul > li {
  display: inline-block;
  margin: 10px;
}
ul > li > a {
  color: #000;
  font-size: 25px;
}
.more-btn {
  background: #ff6600;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  /* box-shadow: 0px 2px 20px -7px rgba(0, 0, 0, 0.75); */
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  transition: transform 0.8s;
}
.more-btn:hover {
  transform: scale(1.6);
}

.sticky {
  position: sticky;
  top: 0;
}

.source {
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ffffff;
  cursor: pointer;
}

.source:hover {
  color: #ff6600;
}

.dropdown {
  box-shadow: 0px 2px 10px -7px rgba(0, 0, 0, 0.75);

  border-radius: 20px;

  border: 0px;

  background: #fff;

  margin-right: 15px;
}
.dropdown > button#dropdown-basic {
  border-radius: 20px;
  border: 0px;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;

  background: #fff;

  color: #000 !important;
}

.overlay {
  opacity: 0.3;
}
.navlink {
  transition: transform 0.2s;
}
.navLink:hover {
  transform: scale(0.9);
  box-shadow: 0px 2px 5px -7px rgba(0, 0, 0, 0.75);
}

@media all and (max-width: 768px) {
  td {
    font-size: 14px !important;
  }
  table > tbody > tr {
    width: 100% !important;
  }
  table > tbody > tr > td:nth-child(3) {
    padding-right: 0px !important;
    display: block !important;
    width: 100% !important;
  }
  table > tbody > tr > td:nth-child(4),
  table > tbody > tr > td:nth-child(5),
  table > tbody > tr > td:nth-child(6),
  table > tbody > tr > td:nth-child(7) {
    display: block !important;
    width: 100% !important;
  }
}
