@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
